In [3]:
import pandas as pd
L=[1,4,6,8.34]
# L=[1,4,6,8.34,None] for None the data type will be float64 and the output will be in float eg: 1.00 4.00 ... NaN
df=pd.Series(L)
print(df)
#Higher datatye will be the dtype & string dtype will be object

0    1.00
1    4.00
2    6.00
3    8.34
dtype: float64

In [16]:
import pandas as pd
L=[50,60,70,80]
s=["fsd 2","coa","toc","fcsp 2"]
df=pd.Series(L,index=s)
print(df)
d={"a":1,"b":2,"c":3}
df=pd.Series(d,name="Series")
print(df)

fsd 2     50
coa       60
toc       70
fcsp 2    80
dtype: int64
a    1
b    2
c    3
Name: Series, dtype: int64

In [18]:
import pandas as pd
d={"a":1,"b":2,"c":3}
df=pd.Series(d,name="series",index=["x",'y','z'])
print(df)

x   NaN
y   NaN
z   NaN
Name: series, dtype: float64

In [28]:
import pandas as pd
import numpy as np
# L=np.array([1,2,3])
L=[1,2,3]
df=pd.Series(L,copy=False)# copy=False is a default value for list copy = false or true dosen't matter
df[1]=50
print(L) # here if we keep copy = False then it will change the value of first index for numpy only [1 50 3],if copy=True
#then [1 2 3]
print(df)

[1, 2, 3]
0     1
1    50
2     3
dtype: int64

In [29]:
#DataFrame

In [32]:
import pandas as pd
data=[[100,80,15],[60,70,30],[40,100,30],[80,50,20]]
df=pd.DataFrame(data,columns=['A','B','C']) #if we do not give coumns then the column index will be 0 1 2
print(df)

     A    B   C
0  100   80  15
1   60   70  30
2   40  100  30
3   80   50  20

In [41]:
import pandas as pd
data={'name':['a','b','c','d'],'id':[1,2,3,4],'marks':[80,70,60,50],'package':[10,7,3,5]}
df=pd.DataFrame(data)
df.set_index('id',inplace=True) #inplace=True is important
df

   name  marks  package
id
1     a     80       10
2     b     70        7
3     c     60        3
4     d     50        5

In [48]:
import pandas as pd
df=pd.read_csv("Book1.csv")
print(type(df))
df
df1=df['cgpa']
print(type(df1))
df1

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

0      6.89
1      5.12
2      7.82
3      7.42
4      6.94
       ...
195    6.93
196    5.89
197    7.21
198    7.63
199    6.22
Name: cgpa, Length: 200, dtype: float64

In [50]:
import pandas as pd
df=pd.read_csv("movie.csv")
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [52]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,4906,4907,4908,4909,4910,4911,4912,4913,4914,4915
color,Color,Color,Color,Color,NaN,Color,Color,Color,Color,Color,...,Color,Color,Color,Color,Color,Color,Color,Color,Color,Color
director_name,James Cameron,Gore Verbinski,Sam Mendes,Christopher Nolan,Doug Walker,Andrew Stanton,Sam Raimi,Nathan Greno,Joss Whedon,David Yates,...,Shane Carruth,Neill Dela Llana,Robert Rodriguez,Anthony Vallone,Edward Burns,Scott Smith,NaN,Benjamin Roberds,Daniel Hsia,Jon Gunn
num_critic_for_reviews,723,302,602,813,NaN,462,392,324,635,375,...,143,35,56,NaN,14,1,43,13,14,43
duration,178,169,148,164,NaN,132,156,100,141,153,...,77,80,81,84,95,87,43,76,100,90
director_facebook_likes,0,563,0,22000,131,475,0,15,0,282,...,291,0,0,2,0,2,NaN,0,0,16
actor_3_facebook_likes,855,1000,161,23000,NaN,530,4000,284,19000,10000,...,8,0,6,2,133,318,319,0,489,16
actor_2_name,Joel David Moore,Orlando Bloom,Rory Kinnear,Christian Bale,Rob Walker,Samantha Morton,James Franco,Donna Murphy,Robert Downey Jr.,Daniel Radcliffe,...,David Sullivan,Edgar Tancangco,Peter Marquardt,John Considine,Caitlin FitzGerald,Daphne Zuniga,Valorie Curry,Maxwell Moody,Daniel Henney,Brian Herzlinger
actor_1_facebook_likes,1000,40000,11000,27000,131,640,24000,799,26000,25000,...,291,0,121,45,296,637,841,0,946,86
gross,7.60506e+08,3.09404e+08,2.00074e+08,4.48131e+08,NaN,7.30587e+07,3.3653e+08,2.00807e+08,4.58992e+08,3.01957e+08,...,424760,70071,2.04092e+06,NaN,4584,NaN,NaN,NaN,10443,85222
genres,Action|Adventure|Fantasy|Sci-Fi,Action|Adventure|Fantasy,Action|Adventure|Thriller,Action|Thriller,Documentary,Action|Adventure|Sci-Fi,Action|Adventure|Romance,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Action|Adventure|Sci-Fi,Adventure|Family|Fantasy|Mystery,...,Drama|Sci-Fi|Thriller,Thriller,Action|Crime|Drama|Romance|Thriller,Crime|Drama,Comedy|Drama,Comedy|Drama,Crime|Drama|Mystery|Thriller,Drama|Horror|Thriller,Comedy|Drama|Romance,Documentary
actor_1_name,CCH Pounder,Johnny Depp,Christoph Waltz,Tom Hardy,Doug Walker,Daryl Sabara,J.K. Simmons,Brad Garrett,Chris Hemsworth,Alan Rickman,...,Shane Carruth,Ian Gamazon,Carlos Gallardo,Richard Jewell,Kerry Bishé,Eric Mabius,Natalie Zea,Eva Boehnke,Alan Ruck,John August
movie_title,Avatar,Pirates of the Caribbean: At World's End,Spectre,The Dark Knight Rises,Star Wars: Episode VII - The Force Awakens,John Carter,Spider-Man 3,Tangled,Avengers: Age of Ultron,Harry Potter and the Half-Blood Prince,...,Primer,Cavite,El Mariachi,The Mongol King,Newlyweds,Signed Sealed Delivered,The Following,A Plague So Pleasant,Shanghai Calling,My Date with Drew
num_voted_users,886204,471220,275868,1144337,8,212204,383056,294810,462669,321795,...,72639,589,52055,36,1338,629,73839,38,1255,4285
cast_total_facebook_likes,4834,48350,11700,106759,143,1873,46055,2036,92000,58753,...,368,0,147,93,690,2283,1753,0,2386,163
actor_3_name,Wes Studi,Jack Davenport,Stephanie Sigman,Joseph Gordon-Levitt,NaN,Polly Walker,Kirsten Dunst,M.C. Gainey,Scarlett Johansson,Rupert Grint,...,Casey Gooden,Quynn Ton,Consuelo Gómez,Sara Stepnicka,Daniella Pineda,Crystal Lowe,Sam Underwood,David Chandler,Eliza Coupe,Jon Gunn
facenumber_in_poster,0,0,1,0,0,1,0,1,4,3,...,0,0,0,0,1,2,1,0,5,0
plot_keywords,avatar|future|marine|native|paraplegic,goddess|marriage ceremony|marriage proposal|pi...,bomb|espionage|sequel|spy|terrorist,deception|imprisonment|lawlessness|police offi...,NaN,alien|american civil war|male nipple|mars|prin...,sandman|spider man|symbiote|venom|villain,17th century|based on fairy tale|disney|flower...,artificial intelligence|based on comic book|ca...,blood|book|love|potion|professor,...,changing the future|independent film|invention...,jihad|mindanao|philippines|security guard|squa...,assassin|death|guitar|gun|mariachi,jewell|mongol|nostradamus|stepnicka|vallone,written and directed by cast member,fraud|postal worker|prison|theft|trial,cult|fbi|hideout|prison escape|serial killer,NaN,NaN,actress name in title|crush|date|four word tit...
movie_imdb_link,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,http://www.imdb.com/title/tt0413300/?ref_=fn_t...,http://www.imdb.com/title/tt0398286/?ref_=fn_t...,http://www.imdb.com/title/tt2395427/?ref_=fn_t...,http://www.imdb.com/title/tt0417741/?ref_=fn_t...,...,http://www.imdb.com/title/tt0390384/?ref_=fn_t...,http://www.imdb.com/title/tt0428303/?ref_=fn_t...,http://www.imdb.com/title/tt0104815/?ref_=fn_t...,http://www.imdb.com/title/tt0430371/?ref_=fn_t...,http://www.imdb.com/title/tt1880418/?ref_=fn_t...,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,http://www.imdb.com/title/tt0378407/?ref_=fn_t...
num_user_for_reviews,3054,1238,994,2701,NaN,738,1902,387,1117,973,...,371,35,130,1,14,6,359,3,9,84
language,English,English,English,English,NaN,English,English,English,English,English,...,English,English,Spanish,English,English,English,English,English,English,English
country,USA,USA,UK,USA,NaN,USA,USA,USA,USA,UK,...,USA,Philippines,USA,USA,USA,Canada,USA,USA,USA,USA
content_rating,PG-13,PG-13,PG-13,PG-13,NaN,PG-13,PG-13,PG,PG-13,PG,...,PG-13,Not Rated,R,PG-13,Not Rated,NaN,TV-14,NaN,PG-13,PG
budget,2.37e+08,3e+08,2.45e+08,2.5e+08,NaN,2.637e+08,2.58e+08,2.6e+08,2.5e+08,2.5e+08,...,7000,7000,7000,3250,9000,NaN,NaN,1400,NaN,1100
title_year,2009,2007,2015,2012,NaN,2012,2007,2010,2015,2009,...,2004,2005,1992,2005,2011,2013,NaN,2013,2012,2004
actor_2_facebook_likes,936,5000,393,23000,12,632,11000,553,21000,11000,...,45,0,20,44,205,470,593,0,719,23
imdb_score,7.9,7.1,6.8,8.5,7.1,6.6,6.2,7.8,7.5,7.5,...,7,6.3,6.9,7.8,6.4,7.7,7.5,6.3,6.3,6.6
aspect_ratio,1.78,2.35,2.35,2.35,NaN,2.35,2.35,1.85,2.35,2.35,...,1.85,NaN,1.37,NaN,NaN,NaN,16,NaN,2.35,1.85
movie_facebook_likes,33000,0,85000,164000,0,24000,0,29000,118000,10000,...,19000,74,0,4,413,84,32000,16,660,456

In [54]:
df.shape

(4916, 28)

In [57]:
print(df.axes)

[RangeIndex(start=0, stop=4916, step=1), Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')]

In [59]:
print(df.columns)

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [61]:
print(df.dtypes)

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [63]:
import pandas as pd
df1=pd.DataFrame({"A":[]})
df1

Empty DataFrame
Columns: [A]
Index: []

In [65]:
df1.empty

True

In [67]:
df2=pd.DataFrame({"A":[np.nan]})
df2

    A
0 NaN

In [69]:
df2.empty

False

In [4]:
d=[{'a':1,'b':2,'c':3,'d':4},{'a':10,'b':20,'c':30,'d':40},{'a':100,'b':200,'c':300,'d':400}]
df=pd.DataFrame(d)
df

     a    b    c    d
0    1    2    3    4
1   10   20   30   40
2  100  200  300  400

In [5]:
print(df.iloc[0])
print("``````````````````````````````````````````````````````````````````````")
print(df.iloc[[0]])
print("``````````````````````````````````````````````````````````````````````")
print(df.iloc[:2])
print("``````````````````````````````````````````````````````````````````````")
print(df.iloc[0:2,1:3])
print("``````````````````````````````````````````````````````````````````````")
print(df.iloc[[True,False,True]]) #oth and 2nd row will be there and 1st will be not there as t f t or df.iloc[[1,2]]
print("``````````````````````````````````````````````````````````````````````")
print(df.iloc[lambda x:x.index%2==0])

a    1
b    2
c    3
d    4
Name: 0, dtype: int64
``````````````````````````````````````````````````````````````````````
   a  b  c  d
0  1  2  3  4
``````````````````````````````````````````````````````````````````````
    a   b   c   d
0   1   2   3   4
1  10  20  30  40
``````````````````````````````````````````````````````````````````````
    b   c
0   2   3
1  20  30
``````````````````````````````````````````````````````````````````````
     a    b    c    d
0    1    2    3    4
2  100  200  300  400
``````````````````````````````````````````````````````````````````````
     a    b    c    d
0    1    2    3    4
2  100  200  300  400

In [7]:
df=pd.DataFrame([[1,2],[4,8],[9,11]],index=['A','B','C'],columns=['x','y'])
df

   x   y
A  1   2
B  4   8
C  9  11

In [40]:
print(df.loc['C'])
print("``````````````````````````````````````````````````````````````````````")
print(df.loc['A':'C'])
print("``````````````````````````````````````````````````````````````````````")
print(df.loc[:,'x'])
print("``````````````````````````````````````````````````````````````````````")
print(df.loc[:,:'y'])
print("``````````````````````````````````````````````````````````````````````")
print(df.loc[:,'x':])
print("``````````````````````````````````````````````````````````````````````")
print(df.loc[['A','C'],'x'])
print("``````````````````````````````````````````````````````````````````````")
print(df.loc['A','x'])
print("``````````````````````````````````````````````````````````````````````")
print(df.loc[df['x']>3])
print("``````````````````````````````````````````````````````````````````````")
print(df>3)
print("``````````````````````````````````````````````````````````````````````")
print(df.loc[df['x']>3,'y'])
print("``````````````````````````````````````````````````````````````````````")
print(df.loc[lambda df:df['y']==8])
print("``````````````````````````````````````````````````````````````````````")
print(df.loc[(df['x']>3)&(df['y']<10)])
print("``````````````````````````````````````````````````````````````````````")
df.loc[['B','C'],'y']=50
print(df)
print("``````````````````````````````````````````````````````````````````````")
df.loc['A']=10
print(df)
print("``````````````````````````````````````````````````````````````````````")
df.loc[df['y']>35]=0
print(df)

x    0
y    0
Name: C, dtype: int64
``````````````````````````````````````````````````````````````````````
    x   y
A  10  10
B   0   0
C   0   0
``````````````````````````````````````````````````````````````````````
A    10
B     0
C     0
Name: x, dtype: int64
``````````````````````````````````````````````````````````````````````
    x   y
A  10  10
B   0   0
C   0   0
``````````````````````````````````````````````````````````````````````
    x   y
A  10  10
B   0   0
C   0   0
``````````````````````````````````````````````````````````````````````
A    10
C     0
Name: x, dtype: int64
``````````````````````````````````````````````````````````````````````
10
``````````````````````````````````````````````````````````````````````
    x   y
A  10  10
``````````````````````````````````````````````````````````````````````
       x      y
A   True   True
B  False  False
C  False  False
``````````````````````````````````````````````````````````````````````
A    10
Name: y, dtype: int64
``````````````````````````````````````````````````````````````````````
Empty DataFrame
Columns: [x, y]
Index: []
``````````````````````````````````````````````````````````````````````
Empty DataFrame
Columns: [x, y]
Index: []
``````````````````````````````````````````````````````````````````````
    x   y
A  10  10
B   0  50
C   0  50
``````````````````````````````````````````````````````````````````````
    x   y
A  10  10
B   0  50
C   0  50
``````````````````````````````````````````````````````````````````````
    x   y
A  10  10
B   0   0
C   0   0

In [43]:
tupels=[('cobra','mark1'),('cobra','mark2'),('sidewinder','mark1'),('sidewinder','mark2'),('viper','mark1'),('viper','mark2')]
index=pd.MultiIndex.from_tuples(tupels)
values=[[12,2],[0,9],[10,20],[1,4],[7,1],[16,36]]
df=pd.DataFrame(values,columns=["maxspeed","shield"],index=index)
print(df)

                  maxspeed  shield
cobra      mark1        12       2
           mark2         0       9
sidewinder mark1        10      20
           mark2         1       4
viper      mark1         7       1
           mark2        16      36

In [45]:
movie=pd.read_csv("movie.csv")
print(movie)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4       NaN        Doug Walker                     NaN       NaN
...     ...                ...                     ...       ...
4911  Color        Scott Smith                     1.0      87.0
4912  Color                NaN                    43.0      43.0
4913  Color   Benjamin Roberds                    13.0      76.0
4914  Color        Daniel Hsia                    14.0     100.0
4915  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
4911                      2.0                   318.0     Daphne Zuniga
4912                      NaN                   319.0     Valorie Curry
4913                      0.0                     0.0     Maxwell Moody
4914                      0.0                   489.0     Daniel Henney
4915                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
4                      131.0          NaN                      Documentary
...                      ...          ...                              ...
4911                   637.0          NaN                     Comedy|Drama
4912                   841.0          NaN     Crime|Drama|Mystery|Thriller
4913                     0.0          NaN            Drama|Horror|Thriller
4914                   946.0      10443.0             Comedy|Drama|Romance
4915                    86.0      85222.0                      Documentary

      ... num_user_for_reviews language  country  content_rating       budget  \
0     ...               3054.0  English      USA           PG-13  237000000.0
1     ...               1238.0  English      USA           PG-13  300000000.0
2     ...                994.0  English       UK           PG-13  245000000.0
3     ...               2701.0  English      USA           PG-13  250000000.0
4     ...                  NaN      NaN      NaN             NaN          NaN
...   ...                  ...      ...      ...             ...          ...
4911  ...                  6.0  English   Canada             NaN          NaN
4912  ...                359.0  English      USA           TV-14          NaN
4913  ...                  3.0  English      USA             NaN       1400.0
4914  ...                  9.0  English      USA           PG-13          NaN
4915  ...                 84.0  English      USA              PG       1100.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0         2009.0                  936.0        7.9          1.78
1         2007.0                 5000.0        7.1          2.35
2         2015.0                  393.0        6.8          2.35
3         2012.0                23000.0        8.5          2.35
4            NaN                   12.0        7.1           NaN
...          ...                    ...        ...           ...
4911      2013.0                  470.0        7.7           NaN
4912         NaN                  593.0        7.5         16.00
4913      2013.0                    0.0        6.3           NaN
4914      2012.0                  719.0        6.3          2.35
4915      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
4                       0
...                   ...
4911                   84
4912                32000
4913                   16
4914                  660
4915                  456

[4916 rows x 28 columns]

In [51]:
print(movie.loc[:,'director_name'].values)

['James Cameron' 'Gore Verbinski' 'Sam Mendes' ... 'Benjamin Roberds'
 'Daniel Hsia' 'Jon Gunn']

In [64]:
#9 marksimportant functions
movie.head() #gives first 5 rows andif we pass any number in the method then it will return that many rows from top
# eg:- movie.head(9)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [61]:
movie.info()#gives all the info of the rows having non null coluns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [62]:
movie.tail() #gives last 5 rows

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [63]:
movie.describe() # only gives columns having numeric values

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,49.000000,93.000000,7.000000,132.000000,607.000000,5.019656e+06,8.361750e+03,1394.750000,0.000000,64.000000,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,191.000000,118.000000,189.750000,633.000000,11000.000000,6.110841e+07,9.377275e+04,13616.750000,2.000000,320.500000,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [73]:
movie.describe(include="all")

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4897,4814,4867.000000,4901.000000,4814.000000,4893.000000,4903,4909.000000,4.054000e+03,4916,...,4895.000000,4904,4911,4616,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
unique,2,2397,NaN,NaN,NaN,NaN,3030,NaN,NaN,914,...,NaN,47,65,18,NaN,NaN,NaN,NaN,NaN,NaN
top,Color,Steven Spielberg,NaN,NaN,NaN,NaN,Morgan Freeman,NaN,NaN,Drama,...,NaN,English,USA,R,NaN,NaN,NaN,NaN,NaN,NaN
freq,4693,26,NaN,NaN,NaN,NaN,18,NaN,NaN,233,...,NaN,4582,3710,2067,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,137.988905,107.090798,691.014541,631.276313,NaN,6494.488491,4.764451e+07,NaN,...,267.668846,NaN,NaN,NaN,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,NaN,NaN,120.239379,25.286015,2832.954125,1625.874802,NaN,15106.986884,6.737255e+07,NaN,...,372.934839,NaN,NaN,NaN,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,NaN,NaN,1.000000,7.000000,0.000000,0.000000,NaN,0.000000,1.620000e+02,NaN,...,1.000000,NaN,NaN,NaN,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,NaN,NaN,49.000000,93.000000,7.000000,132.000000,NaN,607.000000,5.019656e+06,NaN,...,64.000000,NaN,NaN,NaN,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,NaN,NaN,108.000000,103.000000,48.000000,366.000000,NaN,982.000000,2.504396e+07,NaN,...,153.000000,NaN,NaN,NaN,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,NaN,NaN,191.000000,118.000000,189.750000,633.000000,NaN,11000.000000,6.110841e+07,NaN,...,320.500000,NaN,NaN,NaN,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,NaN,NaN,813.000000,511.000000,23000.000000,23000.000000,NaN,640000.000000,7.605058e+08,NaN,...,5060.000000,NaN,NaN,NaN,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [76]:
movie.describe(percentiles=[0.20,0.40,0.60])

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
20%,39.000000,91.000000,3.000000,94.400000,510.000000,2.924634e+06,5.526000e+03,1120.000000,0.000000,47.000000,4.000000e+06,1997.000000,216.000000,5.600000,1.850000,0.000000
40%,82.000000,99.000000,25.000000,260.000000,854.000000,1.533734e+07,2.088500e+04,2348.000000,0.000000,113.000000,1.300000e+07,2003.000000,476.000000,6.300000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
60%,137.000000,108.000000,83.800000,466.000000,1000.000000,3.600000e+07,5.224400e+04,4302.000000,1.000000,205.000000,2.600000e+07,2007.000000,721.000000,6.800000,2.350000,474.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [78]:
movie.isna() # or isnull() it gives true where fieldis null and false for not null

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
4912,False,True,False,False,True,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
4913,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
4914,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4915,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [81]:
movie.isna().sum() #gives count ofthe null values of columns

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        862
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

In [83]:
movie.isna().any().sum() # it gives the count of total columns having null values

21

In [85]:
movie.dropna() #removes the rows having null values

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4899,Color,Olivier Assayas,81.0,110.0,107.0,45.0,Béatrice Dalle,576.0,136007.0,Drama|Music|Romance,...,39.0,French,France,R,4500.0,2004.0,133.0,6.9,2.35,171
4900,Color,Jafar Panahi,64.0,90.0,397.0,0.0,Nargess Mamizadeh,5.0,673780.0,Drama,...,26.0,Persian,Iran,Not Rated,10000.0,2000.0,0.0,7.5,1.85,697
4906,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
4908,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [87]:
movie.dropna(axis=1) # axis=0 for rows and 1 for column

,genres,movie_title,num_voted_users,cast_total_facebook_likes,movie_imdb_link,imdb_score,movie_facebook_likes
0,Action|Adventure|Fantasy|Sci-Fi,Avatar,886204,4834,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,7.9,33000
1,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,471220,48350,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,7.1,0
2,Action|Adventure|Thriller,Spectre,275868,11700,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,6.8,85000
3,Action|Thriller,The Dark Knight Rises,1144337,106759,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,8.5,164000
4,Documentary,Star Wars: Episode VII - The Force Awakens,8,143,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,7.1,0
...,...,...,...,...,...,...,...
4911,Comedy|Drama,Signed Sealed Delivered,629,2283,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,7.7,84
4912,Crime|Drama|Mystery|Thriller,The Following,73839,1753,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,7.5,32000
4913,Drama|Horror|Thriller,A Plague So Pleasant,38,0,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,6.3,16
4914,Comedy|Drama|Romance,Shanghai Calling,1255,2386,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,6.3,660
4915,Documentary,My Date with Drew,4285,163,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,6.6,456

In [89]:
movie.dropna(how="all") # id therow has all the null values thenit will be removed

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [103]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':[1,2,np.nan,4,np.nan],'B':[np.nan,6,7,np.nan,np.nan],'C':[10,11,np.nan,np.nan,14]})
df
df.dropna(thresh=2) # the values passed in thresh checks if it has 2 or more not null value then it will be not removed 
# for understanding the first row has 2 not null values so it will not be droped and 3rd row has 1 not null value then it
# will be droped

     A    B     C
0  1.0  NaN  10.0
1  2.0  6.0  11.0

In [104]:
df.dropna(subset=['B','C'])

     A    B     C
1  2.0  6.0  11.0

In [108]:
df.drop_duplicates(subset=['A','B']) #drop the duplicate rows if value from both a nd b are common otherwise it will not

     A    B     C
0  1.0  NaN  10.0
1  2.0  6.0  11.0
2  NaN  7.0   NaN
3  4.0  NaN   NaN
4  NaN  NaN  14.0

In [112]:
df.drop('B',axis=1)

     A     C
0  1.0  10.0
1  2.0  11.0
2  NaN   NaN
3  4.0   NaN
4  NaN  14.0

In [115]:
df.drop(1,inplace=True) #it has deleted the 1 index row so if we now again to try to delete that index then it will
# give error

KeyError: '[1] not found in axis'

In [116]:
df

     A    B     C
0  1.0  NaN  10.0
2  NaN  7.0   NaN
3  4.0  NaN   NaN
4  NaN  NaN  14.0